html,
body,
h1,
h2,
h3,
h4,
h5,
ul,
ol,
li,
p,
a {
  padding: 0;
  border: 0;
  margin: 0;
}

body {
  background: hsla(0, 0%, 0%, 1) url(https://s10.postimg.org/us20jf3hl/footer_lodyas.png) top left repeat;
}

h2 {
  background: hsla(180, 59%, 51%, 1) linear-gradient(to right, hsla(180, 100%, 25%, 1), hsla(0, 0%, 67%, 0.8));
  padding: 5px 0 5px 20px;
  margin-top: 20px;
  border-radius: 15px;
  color: hsla(0, 0%, 90%, 1);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-weight: 300;
  transform: translateX(-25px);
  text-shadow: 1px 2px 2px hsla(0, 0%, 0%, 0.5);
}

h3 {
  padding: 20px 0 10px 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h4 {
  padding: 20px 0 10px 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

h5 {
  padding: 0 0 5px 10px;
  font-size: .9em;
  border-bottom: 2px solid hsla(0, 0%, 0%, 1);
  margin: 5px;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header {
  width: 600px;
  height: 360px;
  margin: 30px auto 30px auto;
  text-align: center;
  border-radius: 25px;
  background: hsla(0, 0%, 47%, 1) url(https://s10.postimg.org/t6sg0l43d/shattered.png) top center repeat;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

header h1 {
  padding: 100px 0 35px 0;
}

header p {
  line-height: 26px;
}

img {
  width: 180px;
  float: left;
  margin: 20px 0 0 20px;
  border-radius: 25px;
  border: 2px solid hsla(0, 0%, 47%, 1);
}

nav {
  text-align: center;
}

nav ul li {
  display: inline;
  padding: 10px 30px 10px 30px;
  margin-right: 0;
  border-radius: 10px;
  background: hsla(180, 100%, 25%, 0.7);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-transform: uppercase;
  font-weight: bold;
}

nav a:link {
  color: hsla(0, 0%, 90%, 1);
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}

nav a:visited {
  color: hsla(0, 0%, 90%, 1);
  text-decoration: none;
}

nav a:hover {
  color: hsla(0, 100%, 25%, 1);
  text-decoration: none;
}

nav a:active {
  color: hsla(0, 0%, 90%, 1);
  text-decoration: none;
}

main {
  max-width: 600px;
  margin: 30px auto 30px auto;
  padding: 30px 50px 30px 50px;
  border-radius: 20px;
  background: hsla(20, 47%, 44%, 1) url(https://s10.postimg.org/7lk78iyvt/purty_wood.png) top center repeat;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}

article {
  padding: 40px 40px 40px 40px;
  border-radius: 20px;
  margin: 30px 10px 60px 10px;
  background: hsla(0, 0%, 67%, 1) url(https://s10.postimg.org/t6sg0l43d/shattered.png) top center repeat;
  transform: skewX(-3deg);
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
  box-shadow: 4px 3px 10px HSLa(0, 0%, 0%, 0.3);
}

article p {
  line-height: 20px;
  text-align: justify font-weight: 500;
}

article ul {
  padding-left: 30px;
}

.content {
  transform: skewX(3deg);
}
.contentMusic {
  transform: skewX(2deg);
}
#contentTitle {
  background-color: hsla(180, 100%, 25%, 1);
  border-radius: 20px;
  text-align: center;
  text-transform: uppercase;
  color: hsla(0, 0%, 90%, 1);
  text-shadow: 1px 2px 2px hsla(0, 0%, 0%, 0.5);
}

#contentJob {
  background: linear-gradient(to right, hsla(0, 0%, 47%, 0.5), hsla(0, 0%, 67%, 0.00));
  border-radius: 2px;
  margin: 20px 220px 0 0;
  padding: 2px 2px 2px 10px;
  color: hsla(0, 100%, 25%, 1);
}

footer {
  height: 250px;
  background: hsla(0, 0%, 67%, 1) url(https://s10.postimg.org/t6sg0l43d/shattered.png) top center repeat;
  padding: 5px 10px 0 0;
  font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
form {
  margin-right: 10px;
  padding: 10px 10px 10px 10px;
  text-align: left;
  float: right;
  border: 2px solid lightgrey;
  border-radius: 20px;
}
label {
  padding-top: 10px;
  color: hsla(0, 100%, 25%, 1);
}
label:first-child {
  padding: 0;
}
label, input {
  display: block
}
input {
  width: 200px;
}
input[type=email] {
  width: 200px;
  border: 1px solid hsla(180, 59%, 51%, 1);
  border-radius: 20px;
  padding: 5px;
  box-shadow: 2px 1px 2px #000;
}
textarea {
  width: 200px;
  height: 50px;
  margin: 3px;
  border: 1px solid hsla(180, 59%, 51%, 1);
  border-radius: 20px;
  padding:5px;
  box-shadow: 2px 1px 2px #000;
}
input[type=submit] {
  width: 200px;
  background:hsla(180, 59%, 51%, 1);
  color: hsla(180, 100%, 25%, 1);
  border: 1px solid hsla(180, 59%, 51%, 1);
  border-radius: 30px;
  padding: 0 5px 0 5px;
  margin-left: 10px;
  box-shadow: 2px 1px 2px #000;
}
footer p {
  margin-top: 220px;
  font-size: 14px;
  text-align: center;
}
